@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.js-header-pos-fixed {
  animation: slide-down 0.7s;
  background-color: #ffffff;
  border-bottom: 1px solid #edeff1;
  box-shadow: 1px 3px 30px 1px rgba(0, 0, 0, 0.2);
  flex: 0 0 100%;
  left: 0;
  margin: 0;
  max-width: 100%;
  padding-bottom: 0;
  padding-top: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 15;
  .navbar-light {
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}
.div-top-5 {
  top: 5px;
}
.navbar-light {
  .navbar-nav {
    .active-link {
      color: $scd-color !important;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
}
.loading {
  position: relative;
  margin: 0 auto;
  width: 95px;
  height: 95px;
  .square {
    position: absolute;
    height: 40px;
    width: 40px;
    background: $txt-color;
    opacity: 0.2;
  }
  .square-a {
    animation: fadeIn 2s infinite;
  }
  .state1a {
    top: 0;
    left: 0;
  }
  .state2a {
    top: 0;
    left: 50px;
    animation-delay: 500ms;
  }
  .state3a {
    top: 50px;
    left: 50px;
    animation-delay: 1000ms;
  }
  .state4a {
    top: 50px;
    left: 0;
    animation-delay: 1500ms;
  }
}
.active-category-filter {
  color: $scd-color !important;
}
.clear {
  clear: both;
}