@media all and (min-width: 992px) {
  .filter-box {
    float: left;
    width: 25%;
    &>.filter-item {
      width: 90%;
    }
  }
  .js-add-product {
    &>div:not(:nth-child(3n+3)) {
      margin-right: 30px;
    }
  }
}

//
// Tablet resolutions; Low Resolution Laptop
//
@media all and (min-width: 992px) and (max-width: 1199px) {
  .filter-range-box {
    .filter-range {
      width: inherit;
      .slider-container {
        width: 150px !important;
        .back-bar {
          height: 10px;
          .pointer {
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }
  .filter-to-price {
    margin-top: 15px;
    input {
      margin: 0 0 0 19px;
    }
  }
  .product-description {
    .product-full-desc-para {
      br {
        display: none;
      }
    }
  }
}

// 
// Tablet Portrait
// 
@media all and (max-width: 991px) {
  .navbar-light {
    .navbar-nav {
      margin-left: 0;
      .nav-link {
        margin-left: 0;
        width: 18%;
        font-size: 26px;
      }
    }
    .navbar-brand {
      span {
        font-size: 36px;
      }
      p {
        font-size: 19px;
      }
    }
    .header-icons-box {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  .content-box-filter-products {
    margin-top: 60px;
    .filter-box {
      font-size: 20px;
      .filter-inner-box {
        .filter-para-desc {
          font-size: 22px;
        }
      }
    }
    .products-box {
      justify-content: space-between;
      .products-item {
        width: calc(1/2*100% - (1 - 1/2)*30px);
      }
    }
  }
  .filter-range-from-to {
    input {
      height: 60px;
      width: 120px;
    }
  }
  .news-letter-box {
    form {
      margin-left: 0;
    }
    .news-headline {
      margin-left: 0;
    }
  }
  footer {
    height: auto;
    .footer-payment-para {
      margin-right: 0;
    }
    .payment-method-cards {
      margin-bottom: 15px;
    }
  }
  .filter-range-box {
    .filter-range {
      width: inherit;
      .slider-container {
        width: 180px !important;
        margin: 30px 0;
        .back-bar {
          height: 12px;
          .pointer {
            height: 22px;
            width: 22px;
          }
        }
      }
    }
  }
  .single-product-box {
    &>div {
      margin: 30px 0;
    }
    .product-description {
      text-align: center;
      .product-headline {
        font-size: 46px;
      }
    }
  }
  #products-show {
    .related-to-para {
      margin-top: 50px;
    }
    .related-para-desc-text {
      margin-bottom: 30px;
    }
    .related-products {
      justify-content: center;
      &>div {
        width: 49% !important;
      }
      div {
        &:nth-child(2n+1) {
          margin: 0 10px 10px 0 !important;
        }
        &:nth-child(2n+2) {
          margin: 0 0 10px 0 !important;
        }
      }
    }
  }
  .product-description {
    .product-full-desc-para {
      br {
        display: none;
      }
    }
  }
}

//
// Mobile General
//

// iPhone X mobile screen fix
@media all and (max-height: 450px) and (max-width: 815px) and (orientation: landscape) {
  nav.mobile-open {
    background-color: #ffffff;
    background-size: cover;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1050;
  }
  .nav.navbar-nav {
    min-height: 100vh;
  }
  .add-overflow-body {
    overflow: hidden;
  }
}

@media all and (max-width: 767px) {
  nav.mobile-open {
    background-color: #ffffff;
    background-size: cover;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1050;
  }
  .nav.navbar-nav {
    min-height: 100vh;
  }
  .add-overflow-body {
    overflow: hidden;
  }
  .navbar-light {
    .navbar-nav {
      .nav-link {
        width: 40%;
        margin: 15px 0;
      }
    }
  }
  .small-header-box {
    .small-header-social-icons-box {
      a {
        &:nth-child(1) {
          margin-right: 37px;
        }
        &:nth-child(2) {
          margin-right: 31px;
        }
        &:nth-child(3) {
          margin-right: 30px;
        }
      }
    }
  }
  .content-box-filter-products {
    .products-box {
      .products-item {
        width: 100%;
      }
    }
  }
  footer {
    .footer-navigation {
      margin-top: 15px;
      .footer-navigation-item {
        padding: 8px 0;
        a {
          font-size: 18px;
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .single-product-box {
    .product-description {
      .product-quantity-picker {
        .increment-quantity, .decrement-quantity {
          font-size: 30px;
        }
        .choose-quantity {
          font-size: 25px;
        }
        .increment-quantity {
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

//
// Minor tweaks on XS resolutions
//
@media all and (max-width: 575px) {
  .small-header-box {
    .small-header-social-icons-box {
      margin-top: 20px;
    }
  }
  .news-letter-box {
    .news-letter-text-form {
      height: auto;
      padding: 15px;
    }
    .form-row {
      margin-top: 30px;
    }
  }
  #products-show {
    .related-products {
      &>div {
        width: 100% !important;
      }
      div {
        &:nth-child(2n+1) {
          margin: 10px 0 10px 0 !important;
        }
      }
    }
  }
}

//
// Mobile Portrait
//
@media all and (max-width: 481px) {
  .visible-mobile {
    display: block !important;
  }
  .small-header-box {
    .small-header-email-phone-box {
      .small-header-phone-img {
        margin-top: 25px;
      }
      .small-header-phone {
        top: 14px;
      }
    }
  }
  .filter-to-price {
    margin-top: 15px;
    input {
      margin: 0 0 0 19px;
    }
  }
}