.animated-icon {
  cursor: pointer;
  height: 22px;
  margin: 0px;
  outline: none;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width: 30px;
  span {
    background-color: $scd-color;
    border-radius: 9px;
    display: block;
    height: 3px;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    width: 100%;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 10px;
    }
    &:nth-child(3) {
      top: 20px;
    }
  }
}
.js-animated-icon-open {
  outline: none;
  span {
    &:nth-child(1) {
      top: 11px;
      transform: rotate(135deg);
    }
    &:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
    &:nth-child(3) {
      top: 11px;
      transform: rotate(-135deg);
    }
  }
}
.btn-products {
  height: 60px;
  cursor: pointer;
  span {
    display: inline-block;
    background-color: $scd-color;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    &:nth-child(-n+2) {
      margin-right: 5px;
    }
  }
}
.clear-input {
  background-color: $scd-color;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
  outline: none;
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}
.js-spinner {
  span {
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    &:nth-child(1) {
      animation-delay: -0.32s;
    }
    &:nth-child(2) {
      animation-delay: -0.16s;
    }
  }
}
.back-to-top {
  background: #ffffff;
  border-radius: 5px;
  bottom: 1%;
  box-shadow: 2px 5px 40px #000000;
  cursor: pointer;
  height: 50px;
  opacity: 0;
  position: fixed;
  right: 2%;
  transition: all 0.3s linear;
  visibility: hidden;
  width: 50px;
  span {
    color: $scd-color;
    font-size: 30px;
    left: 10px;
    position: relative;
    top: 5px;
  }
}
.js-show-btn-to-top {
  opacity: 1;
  visibility: visible;
  z-index: 12;
}