footer {
  height: 250px;
  .footer-nav-text {
    font-size: 14px;
    color: #28313b;
    margin: -12px 0 0;
  }
  .footer-navigation {
    .footer-navigation-item {
      padding: 4px 0;
      a {
        position: relative;
        font-size: 14px;
        color: #28313b;
        text-decoration: none;
        transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:before {
          content: '';
          position: absolute;
          width: 4px;
          height: 4px;
          display: inline-block;
          background-color: #28313b;
          border-radius: 50%;
          top: 10px;
          left: -15px;
        }
        &:hover {
          color: $scd-color;
          transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
          text-decoration: none;
          &:before {
            background-color: $scd-color;
            transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }
      }
    }
  }
  .footer-payment-para {
    color: $scd-color;
    font-family: $ff-br-sb;
    font-weight: 600;
    margin-right: 30px;
  }
}