.filter-range-box {
  .filter-range {
    width: inherit;
    .slider-container {
      font-family: $ff-br-sb;
      font-weight: 600;
      font-size: 14px;
    }
  }
}
.filter-range-from-to {
  margin-top: 15px;
  span {
    font-size: 14px;
    margin-right: 10px;
    font-weight: 600;
    font-family: $ff-br-sb;
  }
  input {
    background-color: #edf0f2;
    width: 44px;
    height: 24px;
    border: #ffffff;
    &:first-child {
      margin-right: 18px;
    }
    &:nth-child(2) {
      margin-right: 17px;
    }
  }
}
.filter-inner-box {
  .style-checkbox {
    opacity: 0;
    position: absolute;
    & + label {
      cursor: pointer;
      padding: 0;
      position: relative;
      transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        color: $scd-color;
        transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    } 
    & + label:before {
      content: '';
      background: #edf0f2;
      display: inline-block;
      height: 13px;
      margin-right: 13px;
      width: 13px;
    }
  }
}
.mark-checkbox {
  color: $scd-color;
  &:before {
    border: 4px solid $scd-color;
    background: #ffffff;
  }
}