.small-header-box {
  margin-top: 25px;
  margin-bottom: 25px;
  .small-header-email-phone-box {
    font-size: 12px;
    .small-header-email {
      margin: 0 20px 0 8px;
      top: 1px;
    }
    .small-header-phone {
      top: 2px;
    }
    .small-header-phone-img {
      margin-right: 8px;
    }
  }
  .small-header-social-icons-box {
    a {
      &:nth-child(1) {
        margin-right: 22px;
      }
      &:nth-child(2) {
        margin-right: 16px;
      }
      &:nth-child(3) {
        margin-right: 15px;
      }
    }
  }
}

.hr-headers-separators {
  margin: 0 0 15px;
  border-top-color: #edeff1;
}

.header-icons-box {
  .header-icons-link {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  a {
    &:nth-child(1) {
      margin-right: 33px;
    }
    &:nth-child(2) {
      margin-right: 29px;
    }
  }
  .shop-cart-number {
    background-color: $txt-color;
    border-radius: 50%;
    height: 17px;
    left: 4px;
    top: -12px;
    width: 17px;
    span {
      font-size: 10px;
      color: #ffffff;
      top: 3px;
      left: 5.5px;
      font-family: $ff-br-light;
      font-weight: normal;
      font-weight: 300;
    }
  }
}