@import '_variables';
body {
  font-family: $ff-br-reg;
  background-color: $bg-color;
  color: $txt-color !important;
}

.navbar-light {
  margin-bottom: 7px; 
  // Reset Bootstrap navigation toggle button on mobile
  .navbar-toggler {
    outline: none;
    padding: 0.5rem 1rem;
    border: 2px solid $scd-color;
    &:focus,
    &:hover {
      outline: none;
    }
  } 
  // Reset Bootstrap navigation links
  .navbar-nav {
    margin-left: 50px;
    .nav-link {
      color: #495662 !important;
      margin-left: 10px;
      margin-right: 10px;
      &:hover {
        color: $scd-color !important;
        transition: color 0.2s linear;
      }
    }
  }
}
// Reset Bootstrap navigation brand image
.navbar-brand {
  color: $txt-color !important;
  font-size: 30px !important;
  &:hover {
    color: $txt-color !important;
  }
  span {
    font-family: $ff-tt-bold;
    letter-spacing: 2px !important;
    font-size: 30px !important;
    font-weight: 700 !important;
  }
  img {
    margin: -12px 8px 0 !important;
  }
  p {
    margin-top: -10px !important;
    color: rgba(70, 80, 90, 0.8) !important;
    font-size: 17px !important;
    font-family: $ff-br-reg;
    line-height: 1.765;
  }
}
// Reset Bootstrap input group text
.input-group {
  .input-group-text {
    border: 0;
    background-color: transparent;
  }
  input[type="email"] {
    border: 0;
    font-size: 14px;
    color: #7c8791;
    font-style: italic;
  }
}
// Reset Bootstrap type submit button
.form-row {
  button[type="submit"] {
    background-color: $scd-color;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    height: 50px;
    width: 100px;
    font-family: $ff-br-sb;
    font-weight: 600;
    font-size: 14px;
  }
}