// Font Family
$ff-tt-bold: 'Titillium Web';
$ff-br-black: 'Biryani Black';
$ff-br-bold: 'Biryani Bold';
$ff-br-sb: 'Biryani SemiBold';
$ff-br-reg: 'Biryani Regular';
$ff-br-light: 'Biryani Light';
// Base color
$bg-color: #f4f6f8;
$scd-color: #ff5912;
$txt-color: #34404b;