.single-product-box {
  border-top: 1px solid #edeff1;
  &>div {
    margin-top: 104px;
    margin-bottom: 134px;
  }
  .single-product-image-showcase-box {
    &>div {
      display: inline-block;
      background-color: #f4f6f8;
      cursor: pointer;
      &:nth-child(-n+2) {
        margin-top: 65px;
        margin-right: 15px;
      }
    }
  }
  .product-description {
    padding-right: 0;
    .product-headline {
      color: $scd-color;
      font-size: 52px;
      font-family: $ff-br-black;
      font-weight: 900;
      position: relative;
      left: -3px;
    }
    .product-para-desc {
      font-size: 18px;
      font-family: $ff-br-sb;
      font-weight: 600;
      color: #3c4751;
      margin-bottom: 26px;
    }
    .product-full-desc-para {
      font-size: 16px;
      color: #495662;
      line-height: 1.875;
      p {
        margin-bottom: 33px;
      }
    }
    .product-separator-line {
      margin: 0;
      border-color: #edeff1;
    }
    .product-size-quantity-box {
      margin: 35px 0;
      .product-size-picker {
        font-size: 18px;
        color: $txt-color;
        font-family: $ff-br-sb;
        font-weight: 600;
        span {
          &:first-child {
            margin-right: 20px;
          }
        }
        .selected-size {
          color: $scd-color;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
    .product-quantity-picker {
      span {
        font-size: 18px;
        color: $txt-color;
        font-family: $ff-br-sb;
        font-weight: 600;
        &:first-child {
          margin-right: 10px;
        }
      }
      .increment-quantity,
      .decrement-quantity {
        cursor: pointer;
      }
      .choose-quantity {
        color: $scd-color;
        margin: 10px;
      }
    }
  }
  .product-size-price-order-box {
    margin-top: 40px;
    .product-price {
      font-size: 20px;
      font-family: $ff-br-black;
      font-weight: 900;
    }
    .product-order {
      a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
        margin-right: 25px;
      }
      .btn-order-now {
        background-color: $scd-color;
        border-radius: 25px;
        border: 0;
        color: #ffffff;
        cursor: pointer;
        font-family: $ff-br-sb;
        font-size: 18px;
        font-weight: 600;
        height: 49px;
        line-height: 1.2;
        outline: none;
        width: 134px;
        &:focus {
          outline: none;
          border: 0;
        }
      }
    }
  }
}

#products-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &>p {
    flex: 0 0 100%;
  }
  .related-to-para {
    font-size: 28px;
    font-family: $ff-br-black;
    font-weight: 900;
    margin-top: 120px;
    margin-bottom: 13px;
    .related-span-text {
      color: $scd-color;
    }
    .related-product-text {
      color: #495662;
    }
  }
  .related-para-desc-text {
    margin-bottom: 80px;
  }
  .related-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    &>div {
      width: 23% !important;
      margin-right: 0 !important;
      .products-name {
        font-size: 18px;
        font-family: $ff-br-bold;
        font-weight: bold;
      }
      .products-price {
        font-family: $ff-br-bold;
        font-weight: bold;
        color: $scd-color;
      }
    }
    .overlay-product {
      display: none !important;
    }
  }
}