.content-box-filter-products {
  margin-top: 120px;
  .filter-box {
    .filter-item {
      margin-bottom: 30px;
    }
    .filter-inner-box {
      padding: 40px 0 40px 40px;
      p:not(:last-child) {
        margin-bottom: 23px;
      }
      p:last-child {
        margin-bottom: 0;
      }
      .filter-para-desc {
        color: $scd-color;
        font-size: 18px;
        margin-bottom: 27px;
        font-family: $ff-br-black;
        font-weight: normal;
        font-weight: 900;
      }
      a {
        color: $txt-color;
        font-family: $ff-br-sb;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
          text-decoration: none;
          color: $scd-color;
          transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
    }
  }
  .products-box {
    flex-direction: row;
    justify-content: center;
    .products-item {
      margin-bottom: 30px;
      width: calc(1/3*100% - (1 - 1/3)*30px);
      position: relative;
      cursor: pointer; 
      // TODO: Need to add exit animation
      &:hover>.overlay-product {
        opacity: 1;
        transition: all 0.8s ease-in-out;
        cursor: initial;
      }
      .products-inner-item {
        padding: 20px 20px 10px;
        .products-image {
          margin-top: 5px;
        }
        .products-name {
          font-size: 18px;
          font-family: $ff-br-bold;
          font-weight: bold;
          margin-top: 25px;
          margin-bottom: 19px;
        }
        .products-price {
          font-size: 18px;
          color: $scd-color;
          font-family: $ff-br-bold;
          font-weight: bold; 
          // FIXME: Need to set margin, but due to display: flex this cannot be done
        }
      }
    }
    .overlay-product {
      background-color: #ffffff;
      height: 100%;
      opacity: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      .hover-product-image {
        cursor: pointer;
        margin-bottom: 24px;
        margin-top: 35px;
        width: 80px;
        height: 87px;
      }
      .hover-product-name {
        font-size: 18px;
        color: $scd-color;
        font-family: $ff-br-bold;
        font-weight: bold;
      }
      .hover-product-sizes {
        font-size: 14px;
        color: $txt-color;
        margin-bottom: 12px;
        span {
          &:nth-child(2) {
            margin: 0 10px;
          }
        }
      }
      .product-color-picker-box {
        .color-picker {
          border-radius: 50%;
          cursor: pointer;
          display: inline-block;
          height: 14px;
          width: 14px;
          &:nth-child(-n+3) {
            margin-right: 3px;
          }
        }
        .red-color-product {
          background-color: #e12e3f;
        }
        .dark-color-product {
          background-color: $txt-color;
        }
        .cyan-color-product {
          background-color: #3ab3ff;
        }
        .green-color-product {
          background-color: #2fd967;
        }
      }
      hr {
        margin: 0 auto 26px;
        width: 60%;
        border-top-color: #f2f4f7;
      }
      .product-icon-box {
        a {
          text-decoration: none;
          display: inline-block;
          &:hover {
            text-decoration: none;
          }
        }
        .sprite-share-icon {
          background: url(../assets/images/icons/sprite-share.png) top center no-repeat;
          margin-right: 25px;
          height: 22px;
          width: 25px;
          &:hover {
            background-position: -2px -27px;
          }
        }
        .sprite-add-icon {
          background: url(../assets/images/icons/sprite-add-to-cart.png) top center no-repeat;
          height: 27px;
          margin-right: 25px;
          width: 28px;
          &:hover {
            background-position: -2px -31px;
          }
        }
        .sprite-like-icon {
          position: relative;
          top: 2px;
          background: url(../assets/images/icons/sprite-like.png) top center no-repeat;
          height: 22px;
          width: 25px;
          &:hover {
            background-position: -2px -26px;
          }
        }
      }
    }
  }
}
.news-letter-box {
  margin-bottom: 121px;
  margin-top: 109px;
  .news-letter-text-form {
    height: 123px;
  }
  form {
    margin-left: 100px;
  }
  .news-headline {
    margin-left: 37px;
    margin-right: 18px;
    font-size: 18px;
    color: $scd-color;
    font-family: $ff-tt-bold;
    font-weight: bold;
  }
  .news-text {
    font-size: 14px;
    font-style: italic;
  }
}
.success-message {
  position: fixed;
  left: 0;
  bottom: 1%;
  display: none;
}