/**
 * Copyright (c) 2015 Dan Reynolds. Copyright (c) 2015 Mathieu Réguer.
 */
@font-face {
  font-family: 'Biryani Black';
  src: url('../assets/fonts/biryani/Biryani-Black.eot');
  src: local('Biryani Black'), local('Biryani-Black'),
      url('../assets/fonts/biryani/Biryani-Black.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/biryani/Biryani-Black.woff2') format('woff2'),
      url('../assets/fonts/biryani/Biryani-Black.woff') format('woff'),
      url('../assets/fonts/biryani/Biryani-Black.ttf') format('truetype'),
      url('../assets/fonts/biryani/Biryani-Black.svg#Biryani-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Biryani Regular';
  src: url('../assets/fonts/biryani/Biryani-Regular.eot');
  src: local('Biryani Regular'), local('Biryani-Regular'),
      url('../assets/fonts/biryani/Biryani-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/biryani/Biryani-Regular.woff2') format('woff2'),
      url('../assets/fonts/biryani/Biryani-Regular.woff') format('woff'),
      url('../assets/fonts/biryani/Biryani-Regular.ttf') format('truetype'),
      url('../assets/fonts/biryani/Biryani-Regular.svg#Biryani-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biryani Bold';
  src: url('../assets/fonts/biryani/Biryani-Bold.eot');
  src: local('Biryani Bold'), local('Biryani-Bold'),
      url('../assets/fonts/biryani/Biryani-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/biryani/Biryani-Bold.woff2') format('woff2'),
      url('../assets/fonts/biryani/Biryani-Bold.woff') format('woff'),
      url('../assets/fonts/biryani/Biryani-Bold.ttf') format('truetype'),
      url('../assets/fonts/biryani/Biryani-Bold.svg#Biryani-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Biryani Light';
  src: url('../assets/fonts/biryani/Biryani-Light.eot');
  src: local('Biryani Light'), local('Biryani-Light'),
      url('../assets/fonts/biryani/Biryani-Light.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/biryani/Biryani-Light.woff2') format('woff2'),
      url('../assets/fonts/biryani/Biryani-Light.woff') format('woff'),
      url('../assets/fonts/biryani/Biryani-Light.ttf') format('truetype'),
      url('../assets/fonts/biryani/Biryani-Light.svg#Biryani-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Biryani SemiBold';
  src: url('../assets/fonts/biryani/Biryani-SemiBold.eot');
  src: local('Biryani SemiBold'), local('Biryani-SemiBold'),
      url('../assets/fonts/biryani/Biryani-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/biryani/Biryani-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/biryani/Biryani-SemiBold.woff') format('woff'),
      url('../assets/fonts/biryani/Biryani-SemiBold.ttf') format('truetype'),
      url('../assets/fonts/biryani/Biryani-SemiBold.svg#Biryani-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}


/**
 * Copyright (c) 2009-2011 by Accademia di Belle Arti di Urbino and students of MA course of Visual design.
 */
@font-face {
  font-family: 'Titillium Web';
  src: url('../assets/fonts/titillium/TitilliumWeb-Bold.eot');
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
      url('../assets/fonts/titillium/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/titillium/TitilliumWeb-Bold.woff2') format('woff2'),
      url('../assets/fonts/titillium/TitilliumWeb-Bold.woff') format('woff'),
      url('../assets/fonts/titillium/TitilliumWeb-Bold.ttf') format('truetype'),
      url('../assets/fonts/titillium/TitilliumWeb-Bold.svg#TitilliumWeb-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}